.container {
    margin: 0 auto;
    width: 95%;
}

.form-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: ". .";
  margin-bottom: 10px;
}

.form-messages {
    margin-bottom: 10px;
}

.form-messages>div:first-child {
    margin-bottom: 10px;
}

.form-messages textarea {
    resize: none;
    width: 100%;
    height: 150px;
    font-size: 0.9rem;
    margin-bottom: 10px;
}