/* vesper-libre-700 - latin */

@font-face {
    font-family: "Vesper Libre";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/vesper-libre-v14-latin-700.eot");
    /* IE9 Compat Modes */
    src: local(""), url("../fonts/vesper-libre-v14-latin-700.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/vesper-libre-v14-latin-700.woff2") format("woff2"), /* Super Modern Browsers */
    url("../fonts/vesper-libre-v14-latin-700.woff") format("woff"), /* Modern Browsers */
    url("../fonts/vesper-libre-v14-latin-700.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/vesper-libre-v14-latin-700.svg#VesperLibre") format("svg");
    /* Legacy iOS */
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
    font-family: "Vesper Libre", serif;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

html {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #51a3b5;
}

.salat_name {
    text-transform: capitalize;
}

.fade-text {
    opacity: 1;
    animation: fade 1s infinite;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.am_pm {
    font-size: 6rem;
}